user-api/.classpath
user-api/.project
user-api/.settings/
user-api/target/
user-api/.idea
user-api/.mvn
user-api/mvnw
user-api/mvnw.cmd
user-api/HELP.md

shopping-client/.classpath
shopping-client/.project
shopping-client/.settings/
shopping-client/target/
shopping-client/.idea
shopping-client/.mvn
shopping-client/mvnw
shopping-client/mvnw.cmd
shopping-client/HELP.md

product-api/.settings/
product-api/target/
product-api/.classpath
product-api/.project
product-api/.idea
product-api/.mvn
product-api/mvnw
product-api/mvnw.cmd
product-api/HELP.md

shopping-api/.classpath
shopping-api/.project
shopping-api/.settings/
shopping-api/target/
shopping-api/.idea
shopping-api/.mvn
shopping-api/mvnw
shopping-api/mvnw.cmd
shopping-api/HELP.md

/.metadata/

*.iml